*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: linear-gradient(90deg,blue,skyblue,blue);
	background-image: url(https://i.pinimg.com/originals/9b/af/93/9baf93ede642258f550354764aecfc04.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.container{
	flex: 80%;
	position: relative;
	width: 350px;
	height: 200px;
	background-color: transparent ;
	transform-style: preserve-3d;
	transform: rotateX(-10deg) rotateZ(-10deg);
	perspective: 1200px;
	margin-top: 15%;
	margin-left: 40%;
	animation: ror 15s linear infinite;
}

@keyframes ror{
	30%{
		transform: rotateX(25deg);
	}
	80%{
		transform: rotateX(-15deg);
	}
	/*90%{
		transform: rotateZ(-40deg);
	}*/
}

img {
	width: 300px;
	height: 270px;
	position: absolute;
}

img:hover{
	width: 330px;
	height: 300px;
	cursor: pointer;
}

.images{
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotate 15s linear infinite;
}

@keyframes rotate{
	from{

	}
	to{
		transform: rotateY(360deg);
	}
}

img:nth-child(1){
	transform: rotateY(60deg) translateZ(300px);
}
img:nth-child(2){
	transform: rotateY(120deg) translateZ(300px);
}
img:nth-child(3){
	transform: rotateY(180deg) translateZ(300px);
}
img:nth-child(4){
	transform: rotateY(240deg) translateZ(300px);
}
img:nth-child(5){
	transform: rotateY(300deg) translateZ(300px);
}
img:nth-child(6){
	transform: rotateY(360deg) translateZ(300px);
}


h2 p{
  text-align: center ;
  font-size: 30px;
  background: none;
  color: white;
}

h2 a {
	color: white;
	text-decoration: none;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;  
	box-sizing: border-box;  
	padding: 0px;  
	border: none;  
	font: normal 30px/normal "Dynalight", Helvetica, sans-serif;  
	color: rgba(255,255,255,1);  
	text-decoration: normal;  
	text-align: center;  
	-o-text-overflow: clip;  
	text-overflow: clip;  
	/*white-space: pre; */ 
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

h2 a:hover{
	text-decoration: underline ;
}

h1 {
  color: white;
	text-decoration: none;
	-webkit-box-sizing: border-box;  
	-moz-box-sizing: border-box;  
	box-sizing: border-box;  
	padding: 0px;  
	border: none;  
	font: normal 40px/normal "Dynalight", Helvetica, sans-serif;  
	color: rgba(255,255,255,1);  
	text-decoration: normal;  
	text-align: center;  
	-o-text-overflow: clip;  
	text-overflow: clip;  
	/*white-space: pre; */ 
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;  
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);  
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}



